.social-login
    button.social-login__github
        i.fab.fa-github
        span | Continue with Github
    button.social-login__facebook
        i.fab.fa-facebook
        span | Continue with Facebook