extends layouts/main
include mixins/videoBlock

block content
    h2 Searching for : #{searchingBy}
    .videos
    each video in videos
        +videoBlock({
            videoFile: video.fileUrl,
            title: video.title,
            views: video.views,
            id: video.id,
        })